{% extends "base.html" %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Dodaj zgłoszenie</h1>
                    {% if session %}
                    <div class="alert alert-info" role="alert">
                        Witaj {{ session.name }}! Możesz dodać zgłoszenie:
                    </div>
                    <div class="container">
                      <h2 class="mb-4">Formularz Zgłoszenia Naprawy</h2>
                      <form action="/add_event" method="POST">
                        <div class="form-group">
                          <label>Imię:</label>
                          <input type="text" class="form-control" name="name" value="{{session.name}}" required disabled>
                        </div>
                        <div class="form-group">
                          <label>Nazwisko:</label>
                          <input type="text" class="form-control" name="lastname" value="{{session.lastname}}" required disabled>
                        </div>
                        <div class="form-group">
                          <label>Typ zdarzenia:</label>
                            <select class="form-select" aria-label="Default select example" name="id_events">
                                {% for e in event %}
                                <option value="{{e.id_events}}">{{ e.type_e }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                          <label>Lokalizacja:</label>
                          <input type="text" class="form-control" name="location" required>
                        </div>
                          location
                        <div class="form-group">
                          <label>Numer telefonu:</label>
                          <input type="tel" class="form-control" name="phone" required>
                        </div>
                        <div class="form-group">
                          <label>Email:</label>
                          <input type="email" class="form-control" name="mail" required>
                        </div>
                        <div class="form-group">
                          <label>Opis problemu:</label>
                          <textarea class="form-control" name="description" rows="5" required></textarea>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                          <button type="submit" class="btn btn-primary">Zgłoś Naprawę</button>
                        </div>
                      </form>
                    </div>


                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Musisz być zalogowany. Jesteś niezalogowany.
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
