{% extends "base.html" %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Strona główna</h1>
                {% if session %}
                Witaj {{ session.login }}
                {% else %}
                Jesteś niezalogowany
                {% endif %}
            </div>

            <table class="table table-bordered">
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Imię i nazwisko</th>
                    <th>Typ zdarzenia</th>
                    <th>Data zdarzenia</th>
                    <th>Stan zdarzenia</th>
                    <th>Lokalizacaja</th>
                </tr>
                {% for event in events %}
                <tr class="table-dark">
                    <td>{{ event.id_reports }}</td>
                    <td>{{ event.name }} {{ event.lastname }}</td>
                    <td>{{ event.type_e }}</td>
                    <td>{{ event.data }}</td>
                    <td>{{ event.state }}</td>
                    <td>{{ event.location }}</td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
{% endblock %}
